// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




// Menu Items & Lists

	.list-md{margin-bottom: 20px;}
	.list-ios{margin-bottom: 20px;}

	.menu-item{
		margin-bottom: 10px;

		&:last-child{
			margin-bottom: 0;}

		.list-icon{
			position: relative;
			height: 56px;
			width: 56px;
			border-radius: 6px;
			background-image: linear-gradient(-135deg, #FD1F7F 0%, #F41D5B 100%);
			line-height: 56px;
			color: #FFF;
			font-size: 2.45rem;
			text-align: center;
			margin-right: 20px;
			margin-bottom: 0;
			margin-top: 0;
			display: inline-block;}

		.ion-ios-arrow-forward{color: #9F9F9F; font-size: 2rem; min-height: auto; line-height: normal;}

		.label-md{margin: 0;}
		.label-ios{margin: 0;}

		h2{
			font-weight: 600;
			color: #383838;
			margin-bottom: 4px;
			font-size: 1.5rem;}

		p{
			font-size: 1.25rem;}

		// Smaller Menu Items
		&.small{
			
			border-bottom: 1px solid #e6e6e6 !important;
			padding-bottom: 10px;
			padding-left: 0;

			&:last-child{
				padding-bottom: 0;
				border-bottom: none !important;}

			.list-icon{
				height: 46px;
				width: 46px;
				line-height: 46px;}

			.list-icon.default{
				background-image: url('../assets/img/icons/small_discvr_mark.svg'), linear-gradient(-135deg, #FD1F7F 0%, #F41D5B 100%);
				background-position: 49% 49%;
				background-repeat: no-repeat;}

		}}



// Page Titles

.page-cover{
  position: relative;
  /* height: 160px; */
  /* background-size: cover !important; */
  width: 100%;
  padding: 34px 0 66px;
  background: #F41D5B;
  background-image: url(https://cl.ly/1X2w2g3o0f0M/wave_bubbles.svg), linear-gradient(-135deg, #FD1F7F 0%, #F41D5B 100%);
  background-size: 260px, cover !important;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  margin-bottom: 20px;
  &.img{background-position: 50% 50%; background-size: cover !important;}
	.back-button{
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    color: #F41D5B;
    border-radius: 0 0 4px 0;
    background: #FFF;
    /* margin-top: 20px; */}
	.overlay{
		position: absolute;
		bottom: 0;
		height: 90px;
		width: 100%;
		z-index: 1;
		background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.75) 87%);}
	.wave{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 1;
    background-image: url(https://cl.ly/37403x2t0h3x/wave.svg);
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-size: 807px 40px;}
	.cover-title-content{
		position: relative;
		padding-left: 20px;
		display: inline-block;
		// margin-bottom: 60px;
		.cover-title{
			color: #FFF;
			line-height: normal;
			font-size: 28px;
			font-weight: 700;
			letter-spacing: -0.6px;}
		.cover-desc{
			font-size: 14px;
			color: #FFF;
			line-height: normal;}}}

// Typography

	html,body{-webkit-font-smoothing: antialiased;}

	.small-title{
		font-size: 1.15rem;
		color: #272727;
		text-transform: uppercase;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 10px;}

	.large-title{
		font-size: 22px;
		color: #272727;
		line-height: normal;
		font-weight: 700;
		margin-bottom: 10px;
		letter-spacing: -0.24px;}

	.toolbar-title{
		font-size: 1.5rem;
		font-weight: 600;
		color: color($colors, primary);
	}


// Sliders

	.discovr-slides {
		position: relative;
		margin-bottom: 20px;
		height: inherit;}

	.swiper-container {
    // width: auto !important;
    // position: absolute !important; 
    // left: 0; right: 0; 
    height: 250px;} 

  .swiper-slide {
        text-align: center;
        position: relative;
        font-size: 18px;
        background: transparent;
        height: 100%;
        -webkit-background-size: cover !important;
        background-size: cover !important;
        border-radius: 4px;
        overflow: hidden;
        background-position: 50% 50%;
        // &:last-child{border-radius: 4px 0 0 4px;}
        .slide-overlay{
			    position: absolute;
			    bottom: 0;
			    left: 0; 
			    z-index: 2;
			    width: 100%;
			    // -webkit-filter: blur(3px);
			    // filter: url("/media/blur.svg#blur");
			    // filter: blur(10px);
			    right: 0;
			    background: rgba(0,0,0,0.65);
			    height: 68px;
	        -webkit-transform: translateZ(0);
			    transform: translateZ(0);
			    // background-repeat: no-repeat;
			    // background-size: auto 250px;
			    // background-position: 0 -175px;
			    overflow: hidden;
			    color: #FFF;
			    border-radius: 0 0 4px 4px;
				    .overlay-back{
					    top: 0;
					    left: 0;
					    -webkit-filter: blur(14px) brightness(0.7);
					    filter: blur(14px) brightness(0.7);
					    width: 200%;
					    height: 250%;
					    margin-top: -20px;
					    /* margin-left: -43px; */
					    background-position: 13px -107px;
					    background-size: auto 200px;
					    /* position: relative; */
					    /* position: relative; */}}

	    .slide-content{
		    position: absolute;
		    padding: 0 15px;
		    z-index: 1000;
		    line-height: normal;
		    text-align: left;
		    bottom: 0;
		    height: 68px;
		    width: 100%;
		    /* line-height: 68px; */
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -ms-flex-align: center;
		    -webkit-align-items: center;
		    -webkit-box-align: center;
		    align-items: center;
		    /* text-align: left; */
		    -webkit-backface-visibility: hidden;
		    -webkit-transform: translateZ(0) scale(1.0, 1.0);
		    transform: translateZ(0);
			    .slide-title{
			    	font-size: 16px;
						letter-spacing: -0.32px;
						color: #FFF;
						text-shadow: 0px 0px 2px rgba(0,0,0,0.25);
			    	font-weight: 700;}
			    .slide-desc{
			    	letter-spacing: -0.28px;
			    	color: rgba(255,255,255,0.86);
			    	font-weight: 500;
			    	font-size: 12px;}
			    i{
			    	color: #FFF;
			    	font-size: 22px;
			    	margin-left: auto;}
	    }
  }

.swiper-pagination{
	text-align: left !important;
	margin-left: 13px;
	width: auto;
	display: flex;
	height: 6px !important;
	margin-top: 10px;
	position: relative !important;
	background: transparent;
	&.swiper-pagination-bullets{
		span{
			width: 25px;
			height: 6px;
			border-radius: 0;
			margin: 0 2px;
			&:first-child{margin-left: 0;}
			&.swiper-pagination-bullet-active{
				background: #444;
			}
		}
	}
}

